<% layout("layouts/boilerplate.ejs") %>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <h3 class="text-center">Add your new listing</h3>
                <form method="post" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <!-- Title -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" class="form-control" placeholder="Add a catchy Title"
                            required>
                        <div class="invalid-feedback">Please enter a valid title</div>
                    </div>
                    <!-- Description -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" class="form-control" rows="4"
                            required></textarea>
                        <div class="invalid-feedback">Please enter a valid description</div>
                    </div>
                    <!-- Image Upload -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload listing image</label>
                        <input type="file" name="listing[image]" class="form-control" required>
                        <div class="invalid-feedback">Please upload a valid image</div>
                    </div>
                    <!-- Price and Country -->
                    <div class="row">
                        <div class="mb-3 col-md-4 col-sm-12">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" placeholder="Enter price" name="listing[price]" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter a valid price</div>
                        </div>
                        <div class="mb-3 col-md-8 col-sm-12">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" placeholder="Enter country" name="listing[country]" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter a valid country</div>
                        </div>
                    </div>
                    <!-- Location -->
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" placeholder="Enter location" name="listing[location]" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter a valid location</div>
                    </div>
                    <div class="mb-3">
                        <label>Select Categories</label>
                        <div class="d-flex flex-wrap gap-2">
                            <div>
                                <input type="checkbox" id="rooms" name="listing[category][]" value="Rooms">
                                <label for="rooms">Rooms</label>
                            </div>
                            <div>
                                <input type="checkbox" id="iconic_cities" name="listing[category][]"
                                    value="Iconic_Cities">
                                <label for="iconic_cities">Iconic Cities</label>
                            </div>
                            <div>
                                <input type="checkbox" id="mountains" name="listing[category][]" value="Mountains">
                                <label for="mountains">Mountains</label>
                            </div>
                            <div>
                                <input type="checkbox" id="castles" name="listing[category][]" value="Castles">
                                <label for="castles">Castles</label>
                            </div>
                            <div>
                                <input type="checkbox" id="amazing_pools" name="listing[category][]"
                                    value="Amazing_Pools">
                                <label for="amazing_pools">Amazing Pools</label>
                            </div>
                            <div>
                                <input type="checkbox" id="camping" name="listing[category][]" value="Camping">
                                <label for="camping">Camping</label>
                            </div>
                            <div>
                                <input type="checkbox" id="farms" name="listing[category][]" value="Farms">
                                <label for="farms">Farms</label>
                            </div>
                            <div>
                                <input type="checkbox" id="arctic" name="listing[category][]" value="Arctic">
                                <label for="arctic">Arctic</label>
                            </div>
                            <div>
                                <input type="checkbox" id="domes" name="listing[category][]" value="Domes">
                                <label for="domes">Domes</label>
                            </div>
                            <div>
                                <input type="checkbox" id="beaches" name="listing[category][]" value="Beaches">
                                <label for="beaches">Beaches</label>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <button class="btn btn-dark add-btn d-block mx-start mt-4 mb-3" style="width: 100px;">Add</button>
            </div>
            </form>
        </div>
    </div>
    </div>