<%- layout("/layouts/boilerplate") %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Login Heading -->
            <div class="col-lg-6 col-md-8 col-sm-10 text-center">
                <h1 class="mb-4">Login</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Login Form -->
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form method="post" action="/login" novalidate class="needs-validation bg-light p-4 rounded shadow-sm">
                    <!-- Username -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" id="username" class="form-control"
                            placeholder="Enter your username" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                    </div>
                    <!-- Password -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Enter your password" required>
                        <div class="invalid-feedback">Please enter your password.</div>
                    </div>
                    <!-- Login Button -->
                    <button class="btn btn-success add-btn mt-3" style="width: 100px;">Login</button>
                </form>
            </div>
        </div>
    </div>